/* search-results.component.css */

.flight-card {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 	0px 5px 7px 2px rgba(0,0,0,0.4),
		0px 3px 13px -1px rgba(0,0,0,0.29),
		0px -4px 1px 0px rgba(0,0,0,0.22) inset,
		0px 2px 10px 2px rgba(0,0,0,0.28);
border:	1px solid rgba(0,0,0,0.01);
border-radius:	6px;
  }
  
  .flight-card .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .flight-card .card-text {
    margin-bottom: 0.25rem;
  }
  
  .flight-card button.btn-primary {
    background-color: rgb(21, 88, 212);
    border: none;
  }
  
  .flight-card button.btn-primary:hover {
    background-color: #137ae9;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Optional: Additional styles for responsiveness */
  @media (max-width: 768px) {
    .flight-card {
      padding: 10px;
    }
  }
  