<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand Fly8" routerLink="/">AirlineTrips</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link book" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link book" routerLink="/my-booking">My Booking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer bg-dark text-light text-center py-3 lkm">
  <p> Developed from India | © AirlineTrips 2023, All rights reserved |
    Terms of Service | Privacy Policy</p>
</footer>
