.container {
    margin-top: 3rem;
  }
  
  .flight-box,
  .booking-box {
    padding: 20px;
    background-color: #f7e2e2;
    border: 2px solid #1524af;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 1.2);
  }
  
  .flight-box h5,
  .booking-box h2 {
    margin-top: 0;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    margin-right: 10px;
  }
  /* styles.css */

/* Style for the form container */


  