.container {
    text-align: center;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
    background-color: #888;
  }
  
  .table th, .table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table td {
    vertical-align: top;
  }
  
  p {
    font-style: italic;
    color: #888;
     font-size: 50px;
  }
  
  
  